.btnevent{
    transform: translateX(100%);
    transition: all 0.2s ease-in ease-out ;
}

 .move-right {
        transform: translateX(28px);
    }
.move-left {
    transform: translateX(0px);
}

   .slide-btn {
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease;
    }

    .slide-btn::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, #ec4899, #facc15); /* Pink → Yellow on hover */
        transform: translateY(100%);
        transition: transform 0.4s ease;
        z-index: 0;
    }

    .slide-btn:hover::before {
        transform: translateY(0%);
    }

    .slide-btn span {
        position: relative;
        z-index: 10;
    }
