{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyMate</title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="style.css"> -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

</head>


<body class="relative dark:bg-[#121212] bg-white lg:h-full">
    <!-- This is the form where i add the property of hidden and flex which applied using the js  -->
    <div
        class=" form-container hidden justify-center w-full h-full add-form absolute z-10 bg-[#264653]/90 dark:bg-[#1B2A41]/80">
        <form method="POST" action="{% url 'add_expense' %}"
            class="dark:bg-[#212F45] form-details flex flex-col w-[70%] md:w-[40%]  h-fit mt-5 p-8 rounded-2xl bg-white shadow-lg relative">

            {% csrf_token %}

            <div onclick="exit_form()" id="exitBtn"
                class="exit w-5 h-5 flex items-center justify-center text-red-700 dark:text-[#E63946] font-bold absolute right-4 top-4 text-2xl cursor-pointer hover:scale-110 transition-transform duration-200">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <h2 class="text-2xl font-bold text-[#264653] dark:text-[#F5F5F5] text-center mb-6">Add New Expense</h2>


            <label class="font-semibold dark:text-[#A8DADC] mb-1">Title<span class="text-red-600">*</span></label>
            <input name="title" type="text" placeholder="Expense Title"
                class="rounded-full border dark:text-gray-200 dark:bg-[#2E3B55] border-[#2A9D8F] dark:border-[#06D6A0] p-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#2A9D8F]"
                required>

            <label class="font-semibold dark:text-[#A8DADC] mb-1">Spend Amount<span
                    class="text-red-600">*</span></label>
            <input name="amount" type="number" placeholder="Amount"
                class="rounded-full border dark:bg-[#2E3B55] dark:text-gray-200 border-[#E76F51] dark:border-[#E63946] p-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#E76F51]"
                required>

            <label class="font-semibold dark:text-[#A8DADC] mb-1">Category</label>
            <select name="category"
                class="rounded-full border dark:text-gray-200 dark:bg-[#2E3B55] border-[#E9C46A] dark:border-[#F4A261] p-2 mb-4 focus:outline-none focus:ring-2 focus:ring-[#E9C46A]">

                <option>🍔Food</option>
                <option>🚚Transport</option>
                <option>🛍️Shopping</option>
                <option>📱Recharge</option>
                <option>✈️Travel</option>
                <option>❓Other</option>

            </select>

            <label class="font-semibold dark:text-[#A8DADC] mb-1">Date<span class="text-red-600">*</span></label>
            <input name="date" type="date" required
                class="rounded-full border dark:bg-[#2E3B55] dark:text-gray-200 border-[#264653] dark:border-[#62B6CB] p-2 mb-6 focus:outline-none focus:ring-2 focus:ring-[#264653]">

            <button type="submit"
                class="bg-[#2A9D8F] text-white px-6 py-2 rounded-full dark:bg-[#0FA3B1] hover:bg-[#21867A] transition">
                Save
            </button>
        </form>


        <!-- dark:bg-[#1E1E1E] -->

    </div>


    <header class="navbar text-white dark:text-[#e0e0e0] body-font bg-[#3c8bad] dark:bg-[#02182a] sticky top-0 z-50">

        <div class="flex items-center justify-between px-4 py-4 relative w-full">

            <!-- LEFT: Menu Button (Mobile only) -->
            <button id="menuBtn" class="md:hidden text-3xl text-white">
                ☰
            </button>

            <!-- CENTER: Logo + Name -->
            <a class="flex title-font font-medium items-center gap-2 mx-auto md:mx-0">
                <img src="{% static 'images/cash.png' %}" class="w-10 h-10" alt="My Image">
                <span class="text-xl text-white dark:text-[#F4F4F4] font-semibold">MoneyMate</span>
            </a>

            <!-- RIGHT: Profile (Mobile + Desktop) -->
            <a href="{% url 'profile' %}" class="md:hidden flex items-center cursor-pointer">
                <img src="{% if request.user.profile.profile_image %}
                {{ request.user.profile.profile_image.url }}
              {% else %}
                /media/default.jpg
              {% endif %}" class="w-10 h-10 rounded-full object-cover border border-white">
            </a>

            <!-- DESKTOP NAV -->
            <nav class="hidden md:flex flex-wrap items-center text-base justify-center gap-5">

                <a href="#Starting" class="hover:text-[#F4A261] dark:hover:text-[#D4A74F] cursor-pointer">
                    <i class="fa-solid fa-house"></i> Home
                </a>

                <a href="#Hist" class="hover:text-[#F4A261] dark:hover:text-[#D4A74F] cursor-pointer">
                    <i class="fa-solid fa-indian-rupee-sign"></i> Transaction
                </a>

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="hover:text-[#F4A261] dark:hover:text-[#D4A74F] cursor-pointer">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="hover:text-[#F4A261] dark:hover:text-[#D4A74F] cursor-pointer">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
                {% endif %}

                <!-- Profile -->
                <a href="{% url 'profile' %}" class="flex items-center gap-3 cursor-pointer">
                    <img src="{% if request.user.profile.profile_image %}
                    {{ request.user.profile.profile_image.url }}
                {% else %}
                    /media/default.jpg
                {% endif %}" class="w-10 h-10 rounded-full object-cover border border-white">
                </a>

                <!-- Dark Mode -->
                <div class="btn-container relative w-12 h-6 bg-gray-200 rounded-full cursor-pointer">
                    <div class="btn-circle bg-[#2A9D8F] w-6 h-6 rounded-full transition-all duration-300 ease-in-out">
                    </div>
                </div>

            </nav>

        </div>
    </header>

    <nav id="sideMenu" class="fixed top-0 left-0 h-full w-64 bg-black/90 backdrop-blur-xl text-white transform 
            -translate-x-full transition-transform duration-300 z-50 md:hidden">

        <div class="p-4 flex justify-between items-center border-b border-white/20">
            <h2 class="text-xl font-semibold">Menu</h2>
            <button id="closeMenu" class="text-3xl">×</button>
        </div>

        <ul class="flex flex-col space-y-6 p-6 text-lg">
            <li><a class="hover:text-yellow-300" href="#Starting">Home</a></li>
            <li><a class="hover:text-yellow-300" href="#Hist">Transaction</a></li>
            <li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="hover:text-yellow-300">Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="hover:text-yellow-300">Login</a>
                {% endif %}
            </li>
            <li>
                <a href="{% url 'profile' %}" class="hover:text-yellow-300">Profile</a>
            </li>
        </ul>

        <!-- DARK MODE TOGGLE FOR MOBILE -->
        <div class="mt-6 border-t border-white/30 px-6 pt-4">
            <p class="text-sm mb-2 text-gray-300">Appearance</p>

            <div class="flex items-center justify-between">

                <span class="text-white text-lg">Dark Mode</span>

                <div class="btn-container relative w-14 h-7 bg-gray-300 dark:bg-gray-600 rounded-full cursor-pointer">
                    <div class="btn-circle bg-[#2A9D8F] w-7 h-7 rounded-full transition-all duration-300 ease-in-out">
                    </div>
                </div>

            </div>
        </div>

    </nav>












    <main class="flex items-center flex-col bg-[#F4F4F4] dark:bg-[#121212]">
        <div id="Starting"
            class="bg-white dark:bg-[#1A1A1A] shadow-lg dark:shadow-slate-900 m-5 rounded-2xl p-5 w-[90%] max-w-lg text-center">
            <h1 class="md:text-2xl sm:text-xl text-lg font-bold text-[#264653] dark:text-[#F4F4F4]">Welcome to MoneyMate
            </h1>
            <p class="text-gray-600 mt-2 sm:text-lg text-xs dark:text-[#E0E0E0]">Track your expenses easily</p>
            <!-- buttons of the add expence and the view report where i add the expance and the graph for the view report button  -->
            <div class="mt-4">
                <button
                    class="add-spend bg-[#2A9D8F] text-white text-sm sm:text-base  px-4 py-2 mb-4 rounded-lg hover:bg-[#21867A]"
                    onclick="add_expense()">Add Expense</button>


                <a href="{% url 'reports' %}">
                    <button
                        class="bg-[#e9c46a] hover:bg-[#dbb85d] text-sm sm:text-base dark:text-black  px-4 py-2 rounded-lg">View
                        Reports</button>
                </a>

                <div id="showChartBtn" class="mt-6 w-full hidden">
                    <canvas id="expenseChart"></canvas>
                </div>
            </div>



            <!-- WALLET SECTION (FULLY BACKEND CONNECTED) -->
            <div class="mt-3">
                <label class="dark:text-gray-300 text-gray-700 sm:text-base text-sm ">
                    <i class="fa-solid fa-wallet"></i> Wallet Balance :
                </label>
                <br>
                <button onclick="openIncomeForm()"
                    class="bg-[#2A9D8F] text-white px-4 py-2 mt-2 sm:text-base text-sm rounded-md hover:bg-[#21867A] transition shadow-md rgba(42,157,143,0.4)">
                    <i class="fa-solid fa-plus"></i> Add Money
                </button>


                <div id="incomeModal"
                    class="hidden fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50">

                    <div
                        class="bg-white dark:bg-gray-800 p-6 m-5 rounded-2xl sm:w-[60%] xl:w-[40%] w-[70%] shadow-2xl animate-slide-up">

                        <h2 class="text-xl font-bold text-gray-800 dark:text-white mb-2 text-center">Add Money</h2>

                        <form method="POST" action="{% url 'add_income' %}">
                            {% csrf_token %}

                            <!-- Amount -->
                            <label class="block text-gray-700 dark:text-gray-300 font-semibold">Amount</label>
                            <input name="amount" type="number" min="1" placeholder="Amount" class="w-full p-2 mt-1 rounded-xl bg-gray-100 border border-gray-300 
                       focus:border-[#2A9D8F] focus:ring-2 focus:ring-[#2A9D8F]/40 
                       dark:bg-gray-700 dark:text-white dark:border-gray-600 mb-3" required>

                            <!-- Source -->
                            <label class="block text-gray-700 dark:text-gray-300 font-semibold">Source</label>
                            <input name="source" type="text" placeholder="Ex: Mom, Salary, Gift" class="w-full p-2 mt-1 rounded-xl bg-gray-100 border border-gray-300
                       focus:border-[#2A9D8F] focus:ring-2 focus:ring-[#2A9D8F]/40
                       dark:bg-gray-700 dark:text-white dark:border-gray-600 mb-3" required>

                            <!-- Date -->
                            <label class="block text-gray-700 dark:text-gray-300 font-semibold">Date</label>
                            <input name="date" type="date" class="w-full p-2 mt-1 rounded-xl bg-gray-100 border border-gray-300 
                       focus:border-[#2A9D8F] focus:ring-2 focus:ring-[#2A9D8F]/40
                       dark:bg-gray-700 dark:text-white dark:border-gray-600 mb-3" required>

                            <!-- Description -->
                            <label class="block text-gray-700 dark:text-gray-300 font-semibold">Description
                                (Optional)</label>
                            <textarea name="description" rows="2" class="w-full p-2 mt-1 rounded-xl bg-gray-100 border border-gray-300
                       focus:border-[#2A9D8F] focus:ring-2 focus:ring-[#2A9D8F]/40
                       dark:bg-gray-700 dark:text-white dark:border-gray-600 mb-3"></textarea>

                            <div class="flex justify-between mt-4 gap-4">

                                <button type="button" onclick="closeIncomeForm()" class="px-5 py-2 !p-3 rounded-xl bg-gray-200 hover:bg-gray-300 
               text-gray-800 dark:bg-gray-700 dark:text-white transition font-semibold">
                                    Cancel
                                </button>

                                <button type="submit" class="px-5 py-2 !p-3 rounded-xl bg-[#2A9D8F] text-white font-semibold shadow 
               hover:bg-[#21867A] transition">
                                    Add Money
                                </button>

                            </div>

                        </form>
                    </div>
                </div>


                <!-- Modal Animation + Controls -->
                <style>
                    .animate-slide-up {
                        animation: slideUp 0.3s ease-out;
                    }

                    @keyframes slideUp {
                        from {
                            transform: translateY(40px);
                            opacity: 0;
                        }

                        to {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                </style>



            </div>


            <!-- here is the available balance and the total spend  -->
            <div class="flex justify-between items-center mt-6">
                <div>
                    <h2 class="text-sm sm:text-lg font-semibold dark:text-[#06D6A0]">Available Balance</h2>
                    <p class="Available-bal sm:text-xl text-lg font-bold text-[#2A9D8F] dark:text-[#76C7C0]">
                        ₹{{ wallet.balance }}
                    </p>
                </div>
                <div>
                    <h2 class="text-sm sm:text-lg font-semibold dark:text-[#EF476F]
                    ">Total Spent</h2>
                    <p class="money-spend sm:text-xl text-lg font-bold text-[#E76F51] dark:text-[#FF6B6B]">
                        ₹{{ total_spent }}
                    </p>

                </div>
            </div>
        </div>

        <!-- History  -->
        <div id="Hist" class="border relative sm:w-[92%] w-[70%] my-8 rounded-xl flex flex-col shadow shadow-gray-300 p-2">
            <a href="{% url 'download_history' %}" class="w-fit absolute right-2 bg-blue-600 text-white px-4 py-2 rounded-lg">
                Download History PDF
            </a>

            <h2 class="text-left pl-5 font-bold text-xl md:text-2xl  mb-2 text-sky-600">History</h2>


            <div id="history-container" class="w-full max-w-6xl mx-auto mt-4 flex flex-col gap-4 px-3">

                <!-- EXPENSE LIST -->
                {% for e in expenses %}
                <div class="w-full bg-white dark:bg-[#0c0c0c] border border-gray-300 dark:border-gray-700 
               rounded-xl overflow-hidden shadow-sm">

                    <!-- MOBILE STRIPE STYLE -->
                    <div class="flex sm:hidden">
                        <div class="w-2 bg-red-500"></div>

                        <div class="flex-1 p-4 flex items-start gap-3">

                            <!-- Icon -->
                            <div class="text-3xl">
                                {% if e.category == "Food" %} 🍔
                                {% elif e.category == "Shopping" %} 🛍️
                                {% elif e.category == "Travel" %} 🚗
                                {% elif e.category == "Bills" %} 💡
                                {% else %} 💸
                                {% endif %}
                            </div>

                            <div class="flex-1">
                                <h2 class="font-bold text-red-600 dark:text-red-400 text-lg">{{ e.title }}</h2>
                                <p class="text-gray-600 dark:text-gray-300 text-sm">{{ e.category }}</p>
                                <p class="text-gray-400 dark:text-gray-400 text-xs">{{ e.date }}</p>

                                <div class="flex justify-between items-center mt-2">
                                    <h3 class="font-bold text-red-600 dark:text-red-400 text-lg">-₹{{ e.amount }}</h3>

                                    <a href="{% url 'edit_expense' e.id %}"
                                        class="bg-blue-500 text-white px-4 py-1.5 rounded-full hover:bg-blue-600 text-sm">
                                        Edit
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- DESKTOP ROW STYLE -->
                    <div class="hidden sm:flex flex-row items-center justify-between px-4 py-3">

                        <!-- Left cluster -->
                        <div class="flex items-center gap-3 w-[45%]">

                            <div class="text-3xl">
                                {% if e.category == "Food" %} 🍔
                                {% elif e.category == "Shopping" %} 🛍️
                                {% elif e.category == "Travel" %} 🚗
                                {% elif e.category == "Bills" %} 💡
                                {% else %} 💸
                                {% endif %}
                            </div>

                            <div>
                                <h2 class="font-bold text-red-600 dark:text-red-400">{{ e.title }}</h2>
                                <p class="text-gray-500 dark:text-gray-300 text-sm">{{ e.category }}</p>
                                <p class="text-gray-400 dark:text-gray-400 text-xs">{{ e.date }}</p>
                            </div>

                        </div>

                        <!-- Right cluster -->
                        <div class="flex items-center gap-5">

                            <h3 class="font-bold text-red-600 dark:text-red-400 text-lg">-₹{{ e.amount }}</h3>

                            <a href="{% url 'edit_expense' e.id %}"
                                class="bg-blue-500 text-white px-4 py-1.5 rounded-full hover:bg-blue-600 text-sm">
                                Edit
                            </a>

                        </div>

                    </div>
                </div>
                {% endfor %}




                <!-- INCOME LIST -->
                {% for i in incomes %}
                <div class="w-full bg-white dark:bg-[#0c0c0c] border border-gray-300 dark:border-gray-700 
               rounded-xl overflow-hidden shadow-sm">

                    <!-- MOBILE STRIPE STYLE -->
                    <div class="flex sm:hidden">
                        <div class="w-2 bg-green-500"></div>

                        <div class="flex-1 p-4 flex items-start gap-3">

                            <div class="text-3xl">💰</div>

                            <div class="flex-1">
                                <h2 class="font-bold text-green-700 dark:text-green-400 text-lg">{{ i.source }}</h2>
                                <p class="text-gray-600 dark:text-gray-300 text-sm">Income</p>
                                <p class="text-gray-400 dark:text-gray-400 text-xs">{{ i.date }}</p>

                                <div class="flex justify-between items-center mt-2">
                                    <h3 class="font-bold text-green-700 dark:text-green-400 text-lg">+₹{{ i.amount }}
                                    </h3>
                                    <span class="text-gray-500 text-sm">—</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- DESKTOP ROW STYLE -->
                    <div class="hidden sm:flex flex-row items-center justify-between px-4 py-3">

                        <!-- Left cluster -->
                        <div class="flex items-center gap-3 w-[45%]">

                            <div class="text-3xl">💰</div>

                            <div>
                                <h2 class="font-bold text-green-700 dark:text-green-400">{{ i.source }}</h2>
                                <p class="text-gray-500 dark:text-gray-300 text-sm">Income</p>
                                <p class="text-gray-400 dark:text-gray-400 text-xs">{{ i.date }}</p>
                            </div>

                        </div>

                        <!-- Right cluster -->
                        <div class="flex items-center gap-5">

                            <h3 class="font-bold text-green-700 dark:text-green-400 text-lg">+₹{{ i.amount }}</h3>
                            <span class="text-gray-500 text-sm">—</span>

                        </div>

                    </div>

                </div>
                {% endfor %}

            </div>




        </div>



        <div class="hidden login-page mb-10 justify-center w-full h-full absolute z-20 items-center bg-gray-300">

            <form action="" class="flex flex-col justify-center p-3 bg-amber-900 rounded-xl w-[30%] ">
                <h2 class="font-bold text-3xl text-cyan-500 m-auto mb-1.5">Login</h2>
                <label for="Username" class="text-orange-50">Username</label>
                <input type="text" name="name" placeholder="Username"
                    class="Username border border-t-0 border-l-0 border-r-0 focus:border-none border-b-orange-400 my-2 rounded-full pl-2 py-0.5 ">

                <label for="Password" class="text-orange-50">Password</label>
                <input type="password" name="Password" placeholder="Password"
                    class="Password border border-t-0 border-l-0 border-r-0 focus:border-none border-b-orange-400 my-2 rounded-full pl-2 py-0.5 ">

                <a href="" class="my-2 hover:underline">forgot Password?</a>
                <div class="login-registration-btn flex justify-evenly">
                    <input type="button" value="Login"
                        class=" font-bold text-teal-400 cursor-pointer w-2/6 border rounded-full py-1 transition-all duration-200 ease-in-out hover:-translate-y-1">
                    <input type="button" value="New Registration"
                        class=" font-bold text-teal-400 cursor-pointer p-2 border rounded-full py-1 transition-all duration-200 ease-in-out hover:-translate-y-1 ">
                </div>

            </form>
        </div>


        <div class=" hidden login-page mb-10 justify-center w-full h-full absolute z-20 items-center bg-gray-300">

            <form action="" class="flex flex-col justify-center p-3 bg-amber-900 rounded-xl w-[30%] ">
                <h2 class="font-bold text-3xl text-cyan-500 m-auto mb-1.5">Register</h2>
                <label for="Username" class="text-orange-50">Name</label>
                <input type="text" name="name" placeholder="Name"
                    class="Username border border-t-0 border-l-0 border-r-0 focus:border-none border-b-orange-400 my-2 rounded-full pl-2 py-0.5 ">

                <label for="Username" class="text-orange-50">Username</label>
                <input type="text" name="name" placeholder="Username"
                    class="Username border border-t-0 border-l-0 border-r-0 focus:border-none border-b-orange-400 my-2 rounded-full pl-2 py-0.5 ">

                <label for="Password" class="text-orange-50">Password</label>
                <input type="password" name="Password" placeholder="Password"
                    class="Password border border-t-0 border-l-0 border-r-0 focus:border-none border-b-orange-400 my-2 rounded-full pl-2 py-0.5 ">

                <div class="login-registration-btn flex justify-evenly">
                    <input type="button" value="New Registration"
                        class=" font-bold text-teal-400 cursor-pointer p-2 border rounded-full py-1 transition-all duration-200 ease-in-out hover:-translate-y-1 ">
                    <input type="button" value="Login"
                        class=" font-bold text-teal-400 cursor-pointer w-2/6 border rounded-full py-1 transition-all duration-200 ease-in-out hover:-translate-y-1">
                </div>

            </form>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>

    <script>
        function openIncomeForm() {
            document.getElementById("incomeModal").classList.remove("hidden");
        }
        function closeIncomeForm() {
            document.getElementById("incomeModal").classList.add("hidden");
        }
    </script>
</body>

</html>